// $oldstd: 'Old Standard TT', serif;
// $montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;
$ptserif: 'PT Serif', serif;
$georgia: Georgia, Times New Roman, Times, serif;
$franklin: "franklin-gothic-urw", sans-serif;

$offblack: #1e1e1e;
$goldenrod: #daa520;
$lightteal: #27a3a3;
$teal: #155757;

$gray: #a8a8a8;
$lightgray: #e9e9e9;
$darkgray: #151515;

$tophat-bg: #1e1e1e;
$tophat-social: #333;
$tophat-social--hover: #000;


$tablet: 768px;
$mobile: 480px;