$oldstd: 'Old Standard TT', serif;
$montserrat: 'Montserrat', sans-serif;
$lato: 'Lato', sans-serif;

$offblack: #1e1e1e;
$goldenrod: #daa520;

$gray-0: #fafafa;
$gray-1: #f1f1f1;
$gray-2: #e9e9e9;
$gray-3: #e0e0e0;
$gray-4: #d7d7d7;
$gray-5: #bdbdbd;
$gray-6: #939393;
$gray-7: #696969;
$gray-8: #3f3f3f;
$gray-9: #151515;














$tophat-bg: #1e1e1e;
$tophat-social: #333;
$tophat-social--hover: #000;
