@import "mixins";
@import "variables";
// Sass mixins libraries
@import "bourbon/bourbon";
@import "neat/neat";
// Base styles -- normalizes styles across browsers. 
// Alter border-sizing styles to prevent issues in P2P HTML stories
@import "normalize";
// @import "fonts";
@import "fontello";

html, body {
	overflow: hidden;
}
body {
	color: white;
	font-size: 14px; // body-level font size for "em"-scaled designs
}
h1,h2,h3,h4,h5,h6 {
	font-family: $franklin;
}
p,a {
	font-family: $franklin;
}
a {
	color: $teal;
	text-decoration: none;
}
.container {
	position: relative;
	width: 100%;
	// height: 100vh;
	padding-top: 50px; // Pushes below topnav
	overflow-y: auto;
	overflow-x: hidden;
	background-color: darken($gray, 10);
}
.splashWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	z-index: 9;
	background-color: $offblack;
	padding-bottom: 50px; // Pushes below topnav
	@include transition(all 1s ease)
	&.top {
		top: -200%;
	}
	.content {
		max-width: 900px;
		margin: 0 auto;
		text-align: center;
	}
	h1 {
		font-size: 6.5em;
		line-height: 1em;
		color: white;
		margin-top: 1em;
		margin-bottom: .2em;
		text-align: left;
		@media(max-width: 768px) {
			font-size: 4.5em;
		}
	}
	p {
		width: auto;
		margin: 0 2em;
		font-size: 1.3em;
		border-top: 1px solid $lightteal;
		border-bottom: 1px solid $lightteal;
		padding: .5em 0;
		text-align: left;
	}
	span {
		font-weight: bold;
	}
}
.titlebox {
	width:100%;
	background-color: $teal;
	border-top: 1px solid #fff;
	padding-bottom: 5px;
	h1 {
		font-family: $franklin;
		font-size: 3em;
		color: #fff;
		margin-bottom: 0;
		margin-top: 2px;
		margin-left: 25px;
		@media(max-width: 650px) {
			font-size: 2em;
		}
	}
}
.listWrapper {
	position: absolute;
	width: 320px;
	margin: 0;
	padding: 0;
	z-index: 2;
	@media(max-width: 768px) {
		width: 100%;
		bottom: 50px;
	}
}
.list {
	position: absolute;
	width: 320px;
	height: calc(100vh - 50px);
	margin: 0;
	padding: 0;
	border-top: 2px solid white;
	overflow-y: scroll;
	@include transition(all .5s ease);
	h3 {
		margin: 0;
		text-transform: uppercase;
	}
	p {
		margin: 0;
		text-transform: uppercase;
		font-weight: 400;
		span {
			font-weight: 700;
		}
	}
	&.left {
		// left: -100%;
	}
	&.right {
		left: 100%;
	}
	&.center {
		left: 0;
	}
	&__item {
		width: 100%;
		padding: 1em .5em;
		background-color: $gray;
		list-style: none;
		cursor: pointer;
		@include transition(background-color .5s ease);
		&:nth-child(odd) {
			background-color: darken($gray, 10);
		}
		&.active {	
			background-color: $lightteal;
		}
		&:hover {
			background-color: $lightteal;
		}	
	}
	&--landlords {
		left: 0;
		border-right: 1px solid right;
		.subhead {
			text-transform: uppercase;
			padding: .5em;
			background-color: $lightteal;
			border-bottom: 2px solid white;
			h2 {
				font-size: 2em;
				margin: 0;
			}
		}
		h3 {
			display: inline-block;
			width: 80%;
		}
		i {
			font-size: 1.4em;
			line-height: 0;
			float: right;
		}
	}
	&--properties {
		width: 320px;
		left: 100%;
		background-color: $lightteal;
		.landlordName {
			width: 100%;
			height: 50px;
			padding: 1em .5em;
			// border-bottom: 2px solid white;
			color: white;
			background-color: $teal;
			h3 {
				float: left;
				margin-left: 2.5em;
			}
			i {
				font-size: 1.4em;
				line-height: 0;
				float: left;
				cursor: pointer;
			}
		}
		.violationTotals {
			text-align: center;
			.stat {
				display: block;
				font-size: 1.2em;
				margin: 0 0 .2em 0;
				&:last-child {
					margin: 0;
					border-bottom: 2px solid white;
				}
				p {
					display: inline-block;
				}
				i {
					float: right;
					cursor: pointer;
					&:hover {

					}
				}
			}
		}
		p {
			font-weight: 700;
		}
		.list__item {
			background-color: lighten($teal, 10);
			&:nth-child(even) {
				background-color: lighten($teal, 20);
			}
			&--selected {
				background-color: darken($gray, 10);
				&:nth-child(even) {
					background-color: darken($gray, 10);
				}
			}
		}
	}
	@media(max-width: 768px) {
		width: 100%;
		height: 40vh;
		bottom: 0;
	}
}
.stat {
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	background: rgba(black, .1);
	padding: .5em;
	margin: 1em .25em 0 .25em;
	&--properties {

	}
	&--units {

	}
	&--violations {
		background: rgba(black, .5);
		color: white;
	}
	&--lhs {
		float: right;
		margin: 0;
		padding: .1em;
		font-weight: bold;
		background: rgba(black, .5);
	}
}
.mapWrapper {
	position: relative;
	height: 100vh;
	margin-left: 320px;
	background-color: $darkgray;
	z-index: 2;
	@media(max-width: 768px) {
		z-index: 1;
		margin: 0;
	}
}
#map {
	height: 100vh;
	width: auto;
	z-index: 2;
	@media(max-width: 768px) {
		height: 60vh;
	}
}
.socialButtons {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.6em;
	padding: .4em;
	border-radius: 0 0 0 1em;
	background: rgba($lightteal, .7);
	font-weight: bold;
	text-transform: uppercase;
	z-index: 3;
	@include transition(all .5s ease);
	&:hover {
		font-size: 2em;
		// opacity: .8;
	}
	i {
		cursor: pointer;
		&:hover {
			color: $teal;
		}
	}
}
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	// text-align: center; 
	background: rgba(black, .5);
	z-index: 10;
	.content {
		width: 95%;
		max-width: 400px;
		height: auto;
		margin: 30% auto 0 auto;
		padding: 1em;
		background-color: black;
	}
	i {
		float: right;
		font-size: 1.5em;
		cursor: pointer;
	}
	h3 {
		margin-top: 0;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
	}
	span {
		font-weight: bold;
		text-transform: uppercase;
	}
	&--violations {

	}
	&--methodology {

	}
}
.buttonDiv {
	display: inline-block;
	border-radius: 10px;
	background-color: $lightteal;
	text-transform: uppercase;
	color: white;
	cursor: pointer;
	@include transition(all .5s ease);
	p,a {
		margin: 0 auto;
		font-size: 1.7em;
		font-weight: bold;
		white-space: nowrap;
		text-align: center;
		border: none;
	}
	&--splash {
		width: 18em;
		margin: 4em auto 2em auto;
		padding: .7em 0;
		&:hover {
			width: 20em;
			opacity: .6;
		}
	}
}
.buttonIcon {
	color: $lightteal;
	i {
		cursor: pointer;
		@include transition(all .5s ease);
	}
	&--social {
		i {
			font-size: 2em;
			&:hover {
				opacity: .6;
			}
		}
	}
	&--splash {
		i {
			font-size: 8em;
			&:hover {
				opacity: .6;
			}
		}
	}
}

/* Leaderboard */
// #leaderboard {
// 	width: 728px;
// 	height: 90px;
// 	background-color: #222222;
// 	margin: 10px auto;
// 	text-align: center;
// 	@media (max-width: 730px){
// 		display: none;
// 	}
// }